.BuildControls {
	width: 100%;
	background-color: whitesmoke;
	display: flex;
	flex-flow: column;
	align-items: center;
	margin: 0;
	padding: 30px 0;
}

.OrderButton {
	background-color: tomato;
	outline: none;
	cursor: pointer;
	color: white;
	font-family: inherit;
	font-size: 1.2em;
	padding: 15px 30px;
	border: none;
}

.OrderButton:disabled {
	background-color: silver;
	cursor: not-allowed;
	color: white;
}

.OrderButton:not(:disabled) {
	animation: enable 0.3s linear;
}

@keyframes enable {
	0% {
		transform: scale(1);
	}
	60% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}
